<div class="card">
  <div class="card-header">
    <h4>Risk Action</h4>
  </div>
  <div class="card-body m-0">

    <div class="row">
      <div class="col-xl-10 main-content">
        <!--<button type="button" class="btn btn-primary " (click)="onBtnC($event)">Add Rows</button>-->

        <button (click)="onExportCSV()" class="btn btn-light" type="button">Export CSV<i
          class="feather icon-download"></i>
        </button>
        <button (click)="quickFilterShowAction($event)" class="btn btn-light" type="button">Quick Filters<i
          class="feather icon-filter"></i></button>

      </div>
      <div class="col-xl-2">
        <!-- <input id="typeahead-basic" type="text" autocomplete="new-password" placeholder="Search" class="form-control" (selectItem)="searchQuickFilter($event)" [(ngModel)]="globalSearch" [ngbTypeahead]="search"/> -->
      </div>
    </div>
    <div *ngIf="quickFilterShow" class="row" style="min-height: 100px">


      <div class="row">

        <div class="col-sm-4">
          <div class="mb-3">
            <label class="form-label">Form Date</label>
            <input [(ngModel)]="searchFromDate" class="form-control" id="searchFromDate" type="date"/>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="mb-3">
            <label class="form-label">To Date</label>
            <input [(ngModel)]="searchToDate" class="form-control" id="searchToDate" type="date"/>

          </div>
        </div>

        <div class="col-sm-4">
          <div class="mb-3">
            <label class="form-label">MID</label>
            <!-- <input [(ngModel)]="searchMID" class="form-control" id="searchMID" type="text" autocomplete="new-password"/> -->
            <ng-select [(ngModel)]="searchMID" id="searchMID" placeholder="Merchant ID">
              <ng-option *ngFor="let merchant of Resultdata" [value]="merchant.MerchantId">
                {{merchant.merchant_name}} ({{merchant.MerchantId}})
              </ng-option>
            </ng-select>

          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="mb-3">
            <label class="form-label">Risk Code</label>
            <select [(ngModel)]="searchRiskCode" aria-label="Default select example" class="form-select"
                    placeholder="Risk Code">
              <option disabled selected value="">Select Risk Code</option>


              <option *ngFor="let riskcodevalue of Resdata" [ngValue]="riskcodevalue.FieldValue">
                ({{riskcodevalue.FieldValue}}) {{riskcodevalue.FieldText}}</option>


            </select>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="mb-3">
            <label class="form-label">Action Type</label>
            <select [(ngModel)]="searchActionType" aria-label="Default select example" class="form-select"
                    placeholder="Risk Code">
              <option disabled selected value="">Select Action Type</option>
              <option *ngFor="let Actionvalue of Actiondata" [ngValue]="Actionvalue.FieldValue">
                {{Actionvalue.FieldValue}}</option>


            </select>


          </div>
        </div>

        <div class="col-md-2">
          <div class="mb-3">
            <!-- <div class="col-md-12"> -->
            <label class="col-form-label" for="searchMID">Search</label>
            <!-- </div>            -->
            <div class="col-md-6">
              <button (click)="onSearchBtnClick($event)" class="btn form-control btn-primary" type="button"><i
                class="feather icon-search"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="row ">
            <div class="col-md-4">
              <button (click)="onSearchBtnClick($event)" class="btn btn-sm" type="button">Search<i
                class="feather icon-search"></i></button>
            </div>
          </div> -->


    </div>
    <div class="row" style="min-height:500px">
      <div class="col-12 col-xl-12 grid-margin stretch-card ag-theme-alpine" style="margin-bottom: 0px">
        <ag-grid-angular (gridReady)="onGridReady($event)" [columnDefs]="tableSelectedColumn"
                         [defaultColDef]="defaultColDef" [enableCellTextSelection]=true
                         [paginationPageSize]="pageSize" [pagination]="true" [rowData]="rowData"
                         [suppressPaginationPanel]="true" class="ag-theme-alpine"
                         style="width: 100%; height: auto;"></ag-grid-angular>
      </div>
    </div>
    <div class="row bg-white p-2 mt-0">
      <div class="col-md-4">
        <select (change)="onPageSizeChanges($event)" [(ngModel)]="pageSize"
                class="form-select d-flex justify-content-end col-4" name="pageSize" style="width: auto">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="30">30</option>
        </select>
      </div>

      <div class="col-md-8">
        <ngb-pagination (pageChange)="onPaginationChange($event)" [(page)]="currentPage" [boundaryLinks]="true"
                        [collectionSize]="collectionSize" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                        class="d-flex justify-content-end align-right">
        </ngb-pagination>
      </div>

    </div>

  </div>


</div>

<!--<app-modal #modalAdd [modalConfig]="modalConfigAdd">-->
<!--  &lt;!&ndash;  body of the modal  &ndash;&gt;-->
<!--  <app-merchant-add (closeModal)="closeModalAdd($event)"></app-merchant-add>-->
<!--</app-modal>-->
<!--<app-modal #modalEdit [modalConfig]="modalConfigEdit">-->
<!--  &lt;!&ndash;  body of the modal  &ndash;&gt;-->
<!--  <app-merchant-edit [editData]="modalConfigEdit"></app-merchant-edit>-->
<!--</app-modal>-->
<!--<app-modal #modalMerchant [modalConfig]="modalConfigMerchant">-->
<!--  &lt;!&ndash;  body of the modal  &ndash;&gt;-->
<!--  <app-merchantriskconfig [merchantId]="Merchantdata" [onConfigChange]="merchantConfigEvent"></app-merchantriskconfig>-->
<!--</app-modal>-->
<!--<app-modal #modalMerchantBank [modalConfig]="modalConfigMerchant">-->
<!--  &lt;!&ndash;  body of the modal  &ndash;&gt;-->
<!-- <app-account-list [merchantId]="selectedMerchant" [onMerchantChange]="merchantSelectEvent" ></app-account-list>-->
<!--</app-modal>-->
