<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div [ngStyle]="{ 'background-image': 'url(https://via.placeholder.com/219x452)' }" class="auth-side-wrapper">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a class="nobleui-logo d-block mb-2" routerLink=".">Noble<span>UI</span></a>
            <h5 class="text-muted fw-normal mb-4">Create a free account.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <label class="form-label" for="exampleInputUsername1">Username</label>
                <input autocomplete="Username" autocomplete="new-password" class="form-control" id="exampleInputUsername1"
                       placeholder="Username" type="text">
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Email" type="email">
              </div>
              <div class="mb-3">
                <label class="form-label" for="exampleInputPassword1">Password</label>
                <input autocomplete="current-password" class="form-control" id="exampleInputPassword1"
                       placeholder="Password"
                       type="password">
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" id="authCheck" type="checkbox">
                <label class="form-check-label" for="authCheck">
                  Remember me
                </label>
              </div>
              <div>
                <button (click)="onRegister($event)" class="btn btn-primary me-2 mb-2 mb-md-0" type="submit">Sign up
                </button>
                <button class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0" type="button">
                  <i class="feather text-primary icon-twitter btn-icon-prepend"></i>
                  Sign up with twitter
                </button>
              </div>
              <a class="d-block mt-3 text-muted" routerLink="/auth/login">Already a user? Sign in</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
