<ng-template #productIdTemp>
  <div class="custom-tooltip-class">
    <p>Product ID is an identifier which can be used for multi bank settlements. Where each payment request will be identified by product IDs created. For primary account with no need of multi bank settlements, DEFAULT will be used as product ID.</p>
    <p><b>Note:</b> Only one account can be used as default.</p>
  </div>

</ng-template>
<div class="row">
  <div class="card">
    <div class="card-body bg-white">
      <form (ngSubmit)="onSubmit(accountform.value)" [formGroup]="accountform">

        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <!-- <label class="form-label">Merchant ID</label> -->
            <!-- <input [readonly]="currentURL" class="form-control" formControlName="merchantId" placeholder="Merchant ID" type="text" autocomplete="new-password" [ngClass]="{'is-invalid': isForm1Submitted && form1.merchantId.errors}">

            <div *ngIf="isForm1Submitted && form1.merchantId.errors?.required" class="invalid-feedback">
              Please fill this field
            </div>  -->
              <!-- {{Resdata|json}} -->
              <label class="form-label">Merchant ID <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>
<!--              <span class="form-control-plaintext">{{merchantId}}</span>-->

              <ng-select formControlName="merchantId"  (keyup.enter)="loadDatabyMid()" (click)="loadDatabyMid()"
                         placeholder="merchantId">
                <ng-option id="selectedOption" *ngFor="let merchant of Resdata" [value]="merchant.MerchantId">
                  {{merchant.merchant_name}} ({{merchant.MerchantId}})
                </ng-option>
              </ng-select>
            </div>
          </div>
          <!-- Col -->

          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">Product ID <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label><i class="mdi mdi-information-variant" style="background-color: blue; color: white; border-radius: 50%" [ngbTooltip]="productIdTemp" tooltipClass="custom-tooltip-class"></i>
              <input  [ngClass]="{'is-invalid': isForm1Submitted && form1.productId.errors}" class="form-control"
                     formControlName="productId" placeholder="Product ID" type="text" autocomplete="new-password" maxlength="30">
              <div *ngIf="isForm1Submitted && form1.productId.errors?.required" class="invalid-feedback">
                Please Enter Product ID
              </div>
            </div>
          </div><!-- Col -->

        </div><!-- Row -->

        <div class="row">

          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">Account Number <span aria-hidden="true" class="symbol required" style="color:red;">*</span>&nbsp; <i  *ngIf="isverify=='Y'" class="feather icon-check-circle icon-lg" style="color: green;"></i></label>
              <input (paste)="false" [ngClass]="{'is-invalid': isForm1Submitted && form1.accountNumber.errors}" class="form-control"
                     formControlName="accountNumber" maxlength="25" minlength="10" placeholder="Account Number"
                     type="password" autocomplete="new-password" (keypress)="OnlyNumbersAllowedWithoutDecimal($event)">
              <!-- <div *ngIf="Ress">
               <i class="feather text-primary icon-check-circle icon-lg" style="color: green;"></i>
              </div> -->


              <div *ngIf="isForm1Submitted && form1.accountNumber.errors?.required" class="invalid-feedback">
                Please Enter Account Number
              </div>
              <div *ngIf="isForm1Submitted && form1.accountNumber.errors?.minlength" class="invalid-feedback">
                Account Number Should Not Be Less Than 10 Digits
              </div>
              <div *ngIf="form1.accountNumber.errors?.twoSpaces" class="invalid-feedback">
                More Than Two Consecutive Spaces Are Not Allowed
              </div>
            </div>


          </div><!-- Col -->


          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">Retype Account Number <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>
              <input (paste)="false" [ngClass]="{'is-invalid': isForm1Submitted && form1.retypeaccountNumber.errors}"
                     class="form-control" formControlName="retypeaccountNumber" maxlength="25" minlength="10"
                     placeholder="Retype Account Number" type="text" autocomplete="new-password" (keypress)="OnlyNumbersAllowedWithoutDecimal($event)">
              <!-- <div *ngIf="Ress">
                <i class="feather text-primary icon-check-circle icon-lg" style="color: green;"></i>
               </div> -->

              <div *ngIf="isForm1Submitted && form1.retypeaccountNumber.errors?.required" class="invalid-feedback">
                Please Enter Retype Account Number
              </div>

               <div *ngIf="isForm1Submitted && form1.retypeaccountNumber.errors?.confirmPasswordValidator"
                   class="invalid-feedback">
                Account Number Should Match With Retype Account Number
              </div>

              <div *ngIf="isForm1Submitted && form1.retypeaccountNumber.errors?.minlength" class="invalid-feedback">
                Please Enter Minimum Length Of Retype Account Number
              </div>
              
            </div>


          </div><!-- Col -->


        </div><!-- Row -->
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">IFSC Code <span aria-hidden="true" class="symbol required" style="color:red;">*</span> &nbsp;
                <!-- <i id="IFSCcheck" *ngIf="IFSCcheck"
                class="feather icon-check-circle icon-lg" style="color: green;"></i>  -->
              </label>
              <input (keyup)="ValidateIFSC($event,accountform.controls['serviceprovider'].value, accountform.controls['ifscCode'],'IFSCcheck')"
               [ngClass]="{'is-invalid': isForm1Submitted && form1.ifscCode.errors}" class="form-control"
                     formControlName="ifscCode" placeholder="IFSC Code" pattern="^[A-Z]{4}0[A-Z0-9]{6}$" type="text" autocomplete="new-password"
                     [(ngModel)]="IFSCValue"  (keyup)="upperCase($event)" maxlength="11"
                     (keypress)="OnlyCharacterNumberAllowed($event)">
                     <!-- <label *ngIf="IFSCData" class="text-muted p-1 small" style="text-align: left;">
                      {{IFSCData}}
                     </label> -->
              <!-- <div *ngIf="Ress">
                <i class="feather text-primary icon-check-circle icon-lg" style="color: green;"></i>
               </div> -->

              <div *ngIf="isForm1Submitted && form1.ifscCode.errors?.required" class="invalid-feedback">
                Please Enter IFSC Code
              </div>
              <div *ngIf="isForm1Submitted && form1.ifscCode.errors?.pattern" class="invalid-feedback">
                Please Enter Valid IFSC Code
              </div>


            </div>
          </div><!-- Col -->
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">Bank Name <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>
              <!-- <input class="form-control" formControlName="bankName" placeholder="Bank Name" type="text" autocomplete="new-password" [ngClass]="{'is-invalid': isForm1Submitted && form1.bankName.errors}" pattern="[a-zA-Z ]*$"> -->
              <!-- <ng-select formControlName="bankName" placeholder="bankName"
                         [ngClass]="{'is-invalid': isForm1Submitted && form1.bankName.errors}">
                <ng-option *ngFor="let banklist of Resdatas" [value]="banklist.FieldValue">
                  {{banklist.FieldValue}} </ng-option>
              </ng-select> -->

              <ng-select [items]="Resdatas" bindLabel="FieldValue" bindValue="FieldValue"
              formControlName="bankName" id="bankName" placeholder="Bank Name" required
              (focus)="fun('bankName')" (focusout)="funover('bankName')" [ngClass]="{'is-invalid': isForm1Submitted && form1.bankName.errors}"   [(ngModel)]="selectedAttributes" (keypress)="OnlyCharacterAllowed($event)">
                <ng-template ng-option-tmp let-item="item">
                  <div title="{{item.FieldValue}}">{{item.FieldValue}}</div>
                  </ng-template>
            </ng-select>

              <!-- <div *ngIf="Ress">
                <i class="feather text-primary icon-check-circle icon-lg" style="color: green;"></i>
               </div> -->

              <div *ngIf="isForm1Submitted && form1.bankName.errors?.required" class="invalid-feedback">
                Please Select Bank Name
              </div>
              <!-- <div *ngIf="isForm1Submitted && form1.bankName.errors?.pattern" class="invalid-feedback">
                Please enter alphabets only
              </div> -->
            </div>
          </div><!-- Col -->
        </div><!-- Row -->

        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">Account Holder <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>
              <input  class="form-control" formControlName="account_holder" placeholder="Account Holder" type="text" autocomplete="new-password"
                     [ngClass]="{'is-invalid': isForm1Submitted && form1.account_holder.errors}" (keypress)="OnlyCharacterAllowed($event)" maxlength="200">
              <div *ngIf="isForm1Submitted && form1.account_holder.errors?.required" class="invalid-feedback">
                Please Enter Account Holder
              </div>
              <!-- <div *ngIf="isForm1Submitted && form1.ifscCode.errors?.pattern" class="invalid-feedback">
                Please enter correct IFSC Code
              </div> -->
            </div>
          </div><!-- Col -->

          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">Mobile Number <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>
              <input class="form-control" formControlName="mobile_number" placeholder="Mobile Number" type="text" autocomplete="new-password"
                     [ngClass]="{'is-invalid': isForm1Submitted && form1.mobile_number.errors}"
                     (keypress)="OnlyNumbersAllowed($event)" maxlength="10">
              <div *ngIf="isForm1Submitted && form1.mobile_number.errors?.required" class="invalid-feedback">
                Please Enter Mobile Number
              </div>

              <div *ngIf="isForm1Submitted && form1.mobile_number.errors?.pattern" class="invalid-feedback">
                Please Enter Valid Mobile Number
              </div>
              <!-- <div *ngIf="isForm1Submitted && form1.ifscCode.errors?.pattern" class="invalid-feedback">
                Please enter correct IFSC Code
              </div> -->
            </div>
          </div><!-- Col -->

        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label">Email Address <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>
              <input class="form-control" formControlName="email_address" placeholder="Email Address" type="email" autocomplete="new-password"
                     [ngClass]="{'is-invalid': isForm1Submitted && form1.email_address.errors}" maxlength="100">
              <div *ngIf="isForm1Submitted && form1.email_address.errors?.required" class="invalid-feedback">
                Please Enter Email Address
              </div>
              <div *ngIf="isForm1Submitted && form1.email_address.errors?.email" class="invalid-feedback">
                Please Enter Valid Email Address
              </div>
            </div>
          </div><!-- Col -->
          <!-- <div class="col-sm-6 row" style="margin-top: 5%;">
            <div  class="col-md-2">
              <i  *ngIf="isverify=='Y'" class="feather icon-check-circle icon-lg" style="color: green;"></i>
            </div>
            <div class="form-check form-check-inline col-md-3">
              <input (click)="resetIFSC($event,accountform.controls['ifscCode'],'IFSCcheck')"
                     class="form-check-input" formControlName="serviceprovider" id="Decentro" name="serviceprovider" type="radio"
                     value="DECENTRO">
              <label class="form-check-label">
                Decentro
              </label>
            </div>
            <div class="form-check form-check-inline col-md-3">
              <input (click)="resetIFSC($event,accountform.controls['ifscCode'],'IFSCcheck')"
                     class="form-check-input" formControlName="serviceprovider" id="Karza" name="serviceprovider" type="radio"
                     value="KARZA">
              <label class="form-check-label">
                Karza
              </label>
            </div>


          </div> -->
        </div>


        <div class="row mb-2">
          <div class="col-xs-12">
            <div class="text-end">
              <!-- <button class="btn btn-primary pull-right" (click)="DECENTRO(accountform.value)" type="button"
                      [disabled]="!(this.permissions.includes('Add New') || this.permissions.includes('Edit')) || this.isverify =='Y'">
                Validate
              </button> -->
              <button class="btn btn-primary pull-right" type="submit"
                      [disabled]="!(this.permissions.includes('Add New') || this.permissions.includes('Edit')) ||this.loading">
                      <span  id="loading" role="status" aria-hidden="true"></span>
                      Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xl-10 main-content">
    <button (click)="onExportCSV()" class="btn btn-light" type="button">Export CSV<i class="feather text-primary icon-download"></i>
    </button>
    <div class="btn-group mb-1 mb-md-0">
      <!--      <button type="button" class="btn btn-primary">Columns</button>-->
      <div class="btn-group" ngbDropdown role="group">
        <button class="btn btn-primary" ngbDropdownToggle>Columns</button>
        <div ngbDropdownMenu class="ng-dropdown-panel-items p-1"
             style="height: 250px;width: 250px; overflow: scroll; scroll-behavior: smooth">
          <div class="form-group">
            <!--            <label for="columns" class="form-label"> All Columns</label>-->
            <div *ngIf="columnDefs" class="list-group ng-option">
              <span *ngFor="let column of columnDefsCopy; let i = index" class="checkbox">
                <label class="list-group-item p-2">
                  <input class="form-check-input me-1" type="checkbox" value="{{i}}" name="{{column.headerName}}"
                         (change)="updateSelectedTimeslots($event)"
                         [checked]="(tableSelectedColumn && (-1 !==tableSelectedColumn.indexOf(column)) ? 'checked': '')"/>
                  {{(column?.headerName?.replace('_', '') || column?.field?.replace('_', '')) }}
                </label>
              </span>
            </div>

          </div>
          <!--          <ng-select-->
          <!--            [(ngModel)]="tableSelectedColumn"-->
          <!--            [closeOnSelect]="false"-->
          <!--            [items]="columnDefs"-->
          <!--            [multiple]=true-->
          <!--            bindLabel="field">-->
          <!--            <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>-->
          <!--              <input [ngModel]="item$.selected" id="item-{{index}}" type="checkbox"/> {{item.field.toUpperCase()}}-->
          <!--            </ng-template>-->
          <!--          </ng-select>-->

        </div>
      </div>
    </div>
    <!--
        <div class="btn-group mb-1 mb-md-0">
          <button class="btn btn-primary" type="button">Columns</button>
          <div class="btn-group" ngbDropdown role="group">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div ngbDropdownMenu>
              <ng-select [(ngModel)]="tableSelectedColumn" [closeOnSelect]="false" [items]="columnDefs" [multiple]=true
                         bindLabel="field">
                <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
                  <input [ngModel]="item$.selected" id="item-{{index}}" type="checkbox"/> {{item.field.toUpperCase()}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div> -->
  </div>
  <!-- <div class="col-xl-2">
    <input [(ngModel)]="globalSearch" [ngbTypeahead]="search" class="form-control" id="typeahead-basic"
           placeholder="Search" type="text" autocomplete="new-password"/>
  </div> -->
</div>

<div class="row" style="min-height: 300px">
  <div class="col-12 col-xl-12 stretch-card ag-theme-alpine">
    <ag-grid-angular (filterChanged)="onFilterChange($event)" (filterModified)="onFilterModified($event)"
                     (filterOpened)="onFilterOpened($event)"
                     (gridReady)="onGridReady($event)" (rowClicked)="onRowClicked($event)"
                     (rowDoubleClicked)="onRowDoubleClicked($event)"
                     [columnDefs]="tableSelectedColumn" [defaultColDef]="defaultColDef"
                     [enableCellTextSelection]=true
                     [paginationPageSize]="pageSize" [pagination]="true" [rowData]="rowData" [rowModelType]=""
                     [rowSelection]="'single'" [suppressPaginationPanel]="true" class="ag-theme-alpine"
                     style="width: 100%; height: auto;"></ag-grid-angular>
  </div>
</div>

<div class="row bg-white mt-2">
  <div class="col-md-4">
    <select (change)="onPageSizeChanges($event)" [(ngModel)]="pageSize"
            class="form-select d-flex justify-content-end col-4" name="pageSize" style="width: auto">
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="30">30</option>
    </select>
  </div>

  <div class="col-md-8">
    <ngb-pagination (pageChange)="onPaginationChange($event)" [(page)]="currentPage" [boundaryLinks]="true"
                    [collectionSize]="collectionSize" [maxSize]="5" [pageSize]="pageSize" [rotate]="true"
                    class="d-flex justify-content-end col-8 align-right">
    </ngb-pagination>
  </div>

</div>
