<div class="row">
  <div *ngIf="status==1 " class="text-lg-center">
    <ngb-alert [dismissible]="false" [type]="'success'"><i class="feather text-primary icon-thumbs-up"></i>{{"Risk is approved" |
      uppercase}}</ngb-alert>
  </div>
  <div *ngIf="status==2 " class="text-lg-center">
    <ngb-alert [dismissible]="false" [type]="'danger'"><i class="feather text-primary icon-thumbs-down"></i> {{"Risk is rejected" |
      uppercase}}</ngb-alert>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 ">
    <div class="card">
      <!--      <div class="card-header">-->
      <!--        <h4 class="card-title">Risk Configuration</h4>-->
      <!--      </div>-->
      <div class="card-body ">
        <form [formGroup]="MerchantForm" novalidate>

          <div *ngIf="currentURL" class="mb-3 col-md-12" fxFlex>
            <label class="form-label" for="mid"> Merchant ID <span aria-hidden="true" class="symbol required"
                                                                   style="color:red;">*</span></label>
            <ng-select (change)="onSubmit(MerchantForm.value)" formControlName="Mid" id="mid" placeholder="Merchant ID">
              <ng-option *ngFor="let merchant of Resultdata" [value]="merchant.MerchantId" id="selectedOption">
                {{merchant.merchant_name}} ({{merchant.MerchantId}})
              </ng-option>
            </ng-select>

          </div>
        </form>
        <form (ngSubmit)="onNewSubmit(MerchantForm.value)" [formGroup]="dynamicForm" novalidate>
          <div class="row mb-2">
            <div class="col-sm-6">
              <label class="form-label">Merchant Category Code<span aria-hidden="true" class="symbol required"
                                                                    style="color:red;">*</span></label>
              <!--              <select class="form-select form-control" #mc aria-label="Select MCC" -->
              <!--                (change)="setFieldValue($event, mc.value)" formControlName="mcc" id="mcc" [value]="mcc"-->
              <!--                [ngClass]="{'is-invalid': isForm6Submitted && form6.mcc?.errors}">-->
              <!--                <option value="" disabled class="drop">Select MCC</option>-->
              <!--                <option *ngFor="let statusOption of mccOptions" [value]="statusOption.FieldValue">-->
              <!--                  {{statusOption.FieldText}}-->
              <!--                </option>-->
              <!--              </select> -->

              <ng-select #mccSelect (change)="setNgSelectFieldValue($event, mccSelect.selectedValues)" [items]="mccOptions" [ngClass]="{'is-invalid': isForm6Submitted && !mcc}"
                         bindLabel="FieldText"
                         bindValue="FieldValue"
                         formControlName="mcc" id="mcc" placeholder="Select Merchant Category Code" required>
              </ng-select>


              <div *ngIf="isForm6Submitted && !mcc" class="invalid-feedback">
                Kindly select MCC value
              </div>
            </div>
            <div class="col-sm-6">
              <label class="form-label">Risk Type <span aria-hidden="true" class="symbol required"
                                                        style="color:red;">*</span></label>
              <!-- <select class="form-select form-control" #rsk aria-label="Select Risk Type"
                (change)="setFieldValue($event, rsk.value)" formControlName="riskType" id="riskType" [value]="riskType"
                [ngClass]="{'is-invalid': isForm6Submitted && !riskType}">

                <option value="" disabled class="drop">Select Risk Type</option>
                <option *ngFor="let statusOption of riskTypeOptions" [value]="statusOption.FieldValue">
                  {{statusOption.FieldText}}

                </option>

              </select> -->

              <ng-select #rsk (change)="setFieldValue($event, rsk?.selectedValues)" [items]="riskTypeOptions"

                         [ngClass]="{'is-invalid': isForm6Submitted && !riskType}" aria-label="Select Risk Type"

                         bindLabel="FieldText" bindValue="FieldValue"
                         formControlName="riskType" id="riskType" placeholder="Select Risk Type"
                         required
              >
              </ng-select>
              <div *ngIf="isForm6Submitted && !riskType" class="invalid-feedback">
                Kindly select Risk Type value
              </div>
            </div>
          </div>
          <div class="row">
            <ng-container *ngFor="let controls of fieldData">
              <ng-container *ngIf="controls.level=='1'">
                <ng-container [ngSwitch]="controls.datatype">
                  <!-- <div > -->
                  <div *ngSwitchCase="'text'" class="mb-3 col-md-6">
                    <label class="form-label" for="exampleInputUsername1"> {{controls.field_label}}
                      <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>

                    <input *ngSwitchCase="'text'" [formControlName]="controls.field_name" [id]="controls.field_name"
                           [maxlength]="this.JSONvalue['maxLength']" [name]="controls.field_name" [ngClass]="{'is-invalid': isForm6Submitted && form6[controls.field_name].errors }"
                           [placeholder]="controls.field_label" [type]="controls.datatype"
                           [value]="controls.field_value||''"
                           class="form-control"/>

                    <!-- <div *ngIf="isForm6Submitted" class="invalid-feedback">
                      Kindly enter the appropriate value
                    </div> -->

                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.required"
                         class="invalid-feedback">
                      Enter mandatory value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.pattern"
                         class="invalid-feedback">
                      Enter appropriate value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.min" class="invalid-feedback">
                      Enter valid min value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.max" class="invalid-feedback">
                      Enter value in max limit
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.minlength"
                         class="invalid-feedback">
                      Enter valid min length
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.maxlength"
                         class="invalid-feedback">
                      Enter allowed max characters
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.email" class="invalid-feedback">
                      Enter a valid Email ID
                    </div>

                  </div>
                  <div *ngSwitchCase="'number'" class="mb-3 col-md-6">
                    <label class="form-label" for="exampleInputUsername1"> {{controls.field_label}}
                      <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>

                    <input (keypress)="OnlyNumbersAllowed($event)" *ngSwitchCase="'number'" [formControlName]="controls.field_name"
                           [id]="controls.field_name" [maxlength]="this.JSONvalue['maxLength']" [name]="controls.field_name"
                           [ngClass]="{'is-invalid': isForm6Submitted && form6[controls.field_name].errors }"
                           [placeholder]="controls.field_label" [value]="controls.field_value||''"
                           autocomplete="new-password"
                           class="form-control"
                           type="text"/>

                    <!-- <div *ngIf="isForm6Submitted" class="invalid-feedback">
                      Kindly enter the appropriate value
                    </div> -->

                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.required"
                         class="invalid-feedback">
                      Enter mandatory value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.pattern"
                         class="invalid-feedback">
                      Enter appropriate value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.min" class="invalid-feedback">
                      Enter valid min value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.max" class="invalid-feedback">
                      Enter value in max limit
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.minlength"
                         class="invalid-feedback">
                      Enter valid min length
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.maxlength"
                         class="invalid-feedback">
                      Enter allowed max characters
                    </div>

                  </div>

                  <div *ngSwitchCase="'select'" class="mb-3 col-md-6">
                    <label class="form-label" for="exampleInputUsername1">
                      {{controls.field_label}} <span aria-hidden="true" class="symbol required"
                                                     style="color:red;">*</span></label>

                    <select (change)="changeProject($event,controls.field_name)" *ngSwitchCase="'select'"
                            [disabled]="!(this.permissions.includes('Add New') || this.permissions.includes('Edit'))" [id]="controls.field_name"
                            [name]="controls.field_name"
                            [ngClass]="{'is-invalid': isForm6Submitted  && form6[controls.field_name].errors }"
                            class="form-control">
                      <option *ngFor="let value of selectdata;let i = index;"
                              [selected]="removeQuotes(controls.field_value)==value" [value]="value">
                        {{value}}
                      </option>
                    </select>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.required"
                         class="invalid-feedback">
                      Enter mandatory value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.pattern"
                         class="invalid-feedback">
                      Enter appropriate value
                    </div>
                  </div>
                  <div *ngSwitchCase="'textarea'" class="mb-3 col-md-6">
                    <label class="form-label" for="exampleInputUsername1">
                      {{controls.field_label}} <span aria-hidden="true" class="symbol required"
                                                     style="color:red;">*</span></label>

                    <textarea *ngSwitchCase="'textarea'" [id]="controls.field_name" [id]="controls.field_name"
                              [name]="controls.field_name" [ngClass]="{'is-invalid': isForm6Submitted && form6[controls.field_name].errors  }"
                              [placeholder]="controls.field_label" [value]="controls.field_value||''"
                              class="form-control"
                    ></textarea>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.required"
                         class="invalid-feedback">
                      Enter mandatory value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.pattern"
                         class="invalid-feedback">
                      Enter appropriate value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.min" class="invalid-feedback">
                      Enter valid min value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.max" class="invalid-feedback">
                      Enter value in max limit
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.minlength"
                         class="invalid-feedback">
                      Enter valid min length
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.maxlength"
                         class="invalid-feedback">
                      Enter allowed max characters
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.email" class="invalid-feedback">
                      Enter a valid Email ID
                    </div>
                  </div>
                  <div *ngSwitchCase="'date'" class="mb-3 col-md-6">
                    <label class="form-label" for="exampleInputUsername1"> {{controls.field_label}}
                      <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>

                    <input *ngSwitchCase="'date'" [id]="controls.field_name" [id]="controls.field_name"
                           [name]="controls.field_name" [ngClass]="{'is-invalid': isForm6Submitted  && form6[controls.field_name].errors }" [placeholder]="controls.field_label"
                           [type]="controls.datatype" [type]="controls.datatype" [value]="controls.field_value||''"
                           class="form-control"/>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.required"
                         class="invalid-feedback">
                      Enter mandatory value
                    </div>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.pattern"
                         class="invalid-feedback">
                      Enter appropriate value
                    </div>

                  </div>
                  <div *ngSwitchCase="'file'" class="mb-3 col-md-6">
                    <label class="form-label" for="exampleInputUsername1"> {{controls.field_label}}
                      <span aria-hidden="true" class="symbol required" style="color:red;">*</span></label>

                    <input *ngSwitchCase="'file'" [id]="controls.field_name" [id]="controls.field_name"
                           [name]="controls.field_name" [ngClass]="{'is-invalid': isForm6Submitted  && form6[controls.field_name].errors }" [placeholder]="controls.field_label"
                           [type]="controls.datatype" [type]="controls.datatype" [value]="controls.field_value||''"
                           class="form-control"/>
                    <div *ngIf="isForm6Submitted && form6[controls.field_name].errors?.required"
                         class="invalid-feedback">
                      Enter mandatory value
                    </div>
                  </div>
                  <!-- </div> -->
                </ng-container>
              </ng-container>
              <form *ngIf="controls.level=='2' && instrumentdata[0]" [formGroup]="dynamicNewForm" novalidate>
                <ng-container [ngSwitch]="controls.datatype">
                  <div *ngSwitchCase="'text'" class="row ">
                    <label class="form-label" for="exampleInputUsername1"> {{controls.field_label}} </label>

                    <ng-container *ngFor="let control of instrumentdata">
                      <div class="mb-3 col-md-3">
                        <label class="form-label" for="exampleInputUsername1"> {{control}} </label>

                        <input [formControlName]="control+'_'+controls.field_name" [id]="control" [maxlength]="this.JSONvalue['maxLength']"
                               [name]="control" [ngClass]="{'is-invalid': isForm6Submitted  && form5[control+'_'+controls.field_name].errors }" [placeholder]="control" autocomplete="new-password"
                               class="form-control"
                               type="text"/>


                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.required"
                             class="invalid-feedback">
                          Enter mandatory value
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.pattern"
                             class="invalid-feedback">
                          Enter appropriate value
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.min"
                             class="invalid-feedback">
                          Enter valid min value
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.max"
                             class="invalid-feedback">
                          Enter value in max limit
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.minlength"
                             class="invalid-feedback">
                          Enter valid min length
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.maxlength"
                             class="invalid-feedback">
                          Enter allowed max characters
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.email"
                             class="invalid-feedback">
                          Enter a valid Email ID
                        </div>
                      </div>
                    </ng-container>
                    <br>
                  </div>


                  <div *ngSwitchCase="'number'" class="row ">
                    <label class="form-label" for="exampleInputUsername1"> {{controls.field_label}} </label>

                    <ng-container *ngFor="let control of instrumentdata">
                      <div class="mb-3 col-md-3">
                        <label class="form-label" for="exampleInputUsername1"> {{control}} </label>

                        <input (keypress)="OnlyNumbersAllowed($event)" [formControlName]="control+'_'+controls.field_name" [id]="control"
                               [maxlength]="this.JSONvalue['maxLength']" [name]="control" [ngClass]="{'is-invalid': isForm6Submitted  && form5[control+'_'+controls.field_name].errors }"
                               [placeholder]="control" autocomplete="new-password" class="form-control"
                               type="text"/>


                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.required"
                             class="invalid-feedback">
                          Enter mandatory value
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.pattern"
                             class="invalid-feedback">
                          Enter appropriate value
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.min"
                             class="invalid-feedback">
                          Enter valid min value
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.max"
                             class="invalid-feedback">
                          Enter value in max limit
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.minlength"
                             class="invalid-feedback">
                          Enter valid min length
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.maxlength"
                             class="invalid-feedback">
                          Enter allowed max characters
                        </div>
                        <div *ngIf="isForm6Submitted && form5[control+'_'+controls.field_name].errors?.email"
                             class="invalid-feedback">
                          Enter a valid Email ID
                        </div>
                      </div>
                    </ng-container>
                    <br>
                  </div>
                </ng-container>


              </form>
              <br>
            </ng-container>
          </div>
          <div class="row">
            <!-- *ngIf="fieldData &&  (permissions.includes('Add New'))" -->
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button [disabled]="!(fieldData && (permissions.includes('Add New')))||this.loading"
                      class="form-control btn btn-primary pull-right" type="submit">
                <span aria-hidden="true" id="loading" role="status"></span>
                Submit
              </button>
            </div>
          </div>

        </form>
        <div *ngIf="permissions.includes('RISK_APPROVE') " class="row">
          <form [formGroup]="approvalForm">
            <div class="col-6">
              <label class="form-label">Remarks <span aria-hidden="true" class="symbol required"
                                                      style="color:red;">*</span></label>
              <input [disabled]="status != 0" [ngClass]="{'is-invalid': errorRemarks}" autocomplete="new-password" class="form-control"
                     formControlName="remarks"
                     id="remarks"
                     placeholder="Please add remarks" type="text"/>
            </div>
            <div *ngIf="errorRemarks" class="invalid-feedback">
              Remarks is required
            </div>
          </form>

        </div>
        <div *ngIf="permissions.includes('RISK_APPROVE')" class="row mt-2">
          <div class="col-xs-12">
            <div class="text-center">
              <button (click)="statusApproval(1)" [disabled]="this.status != 0" class="btn btn-secondary"><i
                class="feather icon-thumbs-up"></i>Approve
              </button>
              <button (click)="statusApproval(2)" [disabled]="this.status != 0" class="btn btn-primary">Reject <i
                class="feather icon-thumbs-down"></i>
              </button>
            </div>
          </div>

        </div>


        <div [style.display]="this.remarkData[0]!='Not Found Data' ? 'block' : 'none'" class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Risk Remark List</h6>
                <div class="table-responsive">
                  <!-- <button type="button" (click)="exportexcel()" class="btn btn-light">Export CSV<i  class="feather icon-download"></i></button> -->
                  <table class="table" id="dataTableExample">
                    <thead>
                    <tr>
                      <!-- <th>Serial No</th> -->
                      <th>Application Status</th>
                      <th style="min-width: 50;">Application Remarks</th>
                      <th>Added By</th>
                      <th>Added On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
              </tr> -->
                    <!-- <tr *ngFor="let row of rowData">
                <td>{{row.sr_no}}</td>
                <td>{{row.merchantId}}</td>
                <td>{{row.merchant_name}}</td>
                <td>{{row.reseller_id}}</td>
                <td>{{row.uploadStatus}}</td>
                <td style="word-wrap: break-word;min-width: 16px;max-width: 160px;">{{row.remarks}}</td>
              </tr> -->
                    </tbody>
                    <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
