<ng-template #passwordSetRules>
  <div class="custom-tooltip-class" style="text-align: left;">
    <p>Your Password must contain :</p>
    <ol type="1">
      <li>At least 6 characters (Max 16)</li>
        <li>At least 1 uppercase letter</li>
          <li>At least 1 lowercase letter</li>
            <li>At least 1 number</li>
              <li>At least 1 special characters (! @ # $ % ^ & *)</li>
    </ol>
  </div>

</ng-template>
<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div [ngStyle]="{ 'background-image': 'url(assets/images/Payments2.png)',  'margin-right':'100%', 'background-color': '#020641'}"
               class="auth-side-wrapper"
               style="background-position: center!important;background-size: contain;background-repeat: no-repeat;">
          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <!--            <a routerLink="." class="nobleui-logo d-block mb-2"><img src="/pa/assets/images/Payments.png" width="15%" ></a>-->
            <!--            <a routerLink="." class="nobleui-logo d-block mb-2"><img src="/pa/assets/images/Payments.png" width="15%" ></a>-->
            <h5 class="text-muted fw-normal mb-4" *ngIf="!isResetPassword && !setPassword">Forgot Password</h5>
            <!--            <form class="forms-sample">-->
            <!-- <a *ngIf="!isLoggedIn" class="nobleui-logo d-block mb-2" routerLink=".">Back to HomePage</a> -->
             <span *ngIf="isResetPassword" class="nobleui-logo d-block mb-2" >Verification link sent successfully</span>

            <form
              #f="ngForm"
              *ngIf="!isResetPassword && !setPassword"
              name="form"
              novalidate>
              <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input appBlockCopyPaste #username="ngModel" [(ngModel)]="form.username" class="form-control" id="username"
                       name="username" maxlength="50"
                       [ngClass]="{ 'is-invalid':  (form.username == '' || !form.username) && (username.dirty || username.touched)}"
                       placeholder="Username" required type="test">
                <div
                  *ngIf="username.errors && (username.dirty || username.touched)"
                  class="invalid-feedback" [style]="{ 'display':((form.username == '' || !form.username) && (username.dirty || username.touched)) ? 'block':'none' }"
                  role="alert">
                  Please Enter Username!
                </div>
              </div>
              <div>
                <button [disabled]="loaderInit || username.errors" (click)="onForgotPassword($event)" class="btn btn-primary me-2 mb-2 mb-md-0" type="submit">
                  Send recovery link
                  <span *ngIf="loaderInit" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
                <!-- <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather text-primary icon-twitter btn-icon-prepend"></i>
                  Login with twitter
                </button> -->
              </div>
              <div class="form-group">
                <div
                  *ngIf="f.submitted && isResetPasswordFailed"
                  class="alert alert-danger"
                  role="alert"
                >
                  Login failed: {{ errorMessage }}
                </div>
              </div>
              <!-- <a class="d-block mt-3 text-muted" routerLink="/auth/register">Not a user? Sign up</a> -->
              <a class="d-block mt-3 text-muted" routerLink="/auth/login"> <i class="feather text-primary icon-arrow-left"></i>Back to Login</a>
            </form>
            <form *ngIf="!!setPassword" name="setPasswordForm" novalidate>
              <div class="form-group">
                <div class="mb-3">
                  <label class="form-label" for="username">New Password</label>&nbsp;<i class="mdi mdi-information-variant" style="background-color: mediumblue; color: white; border-radius: 50%" [ngbTooltip]="passwordSetRules" tooltipClass="custom-tooltip-class"></i>
                  <app-show-hide-password>
                  <input appBlockCopyPaste inputRef #password="ngModel" [(ngModel)]="setPasswordForm.password" class="form-control" id="password"
                      maxlength="16"   [ngClass]="{ 'is-invalid':  (setPasswordForm.password == '' || !setPasswordForm.password) && (password.dirty || password.touched)}"
                         name="password" placeholder="New Password" required type="password">
                  </app-show-hide-password>
                  <app-password-strength [passwordToCheck]="setPasswordForm.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
                  <div class="invalid-feedback" [style]="{ 'display':((setPasswordForm.password  == '' || !setPasswordForm.password) && (password.dirty || password.touched)) ? 'block':'none' }"
                       *ngIf="(setPasswordForm.password == '' || !setPasswordForm.password) && (password.dirty || password.touched)">
                    <span>Please Enter New Password!</span>
                  </div>
<!--                  <div class="invalid-feedback" [style]="{ 'display':((setPasswordForm.password && !strongPassword) && (password.dirty || password.touched)) ? 'block':'none' }"-->
<!--                       *ngIf="(setPasswordForm.password && !strongPassword) && (password.dirty || password.touched)">-->
<!--                    <span>Please enter strong Password</span>-->
<!--                  </div>-->
                </div>

              </div>
              <div class="form-group">
              <div class="mb-3">
                <label class="form-label" for="confirmPassword">Confirm Password</label>
                <app-show-hide-password>
                <input appBlockCopyPaste inputRef #confirmPassword="ngModel" [(ngModel)]="setPasswordForm.confirmPassword" class="form-control" id="confirmPassword"
                      maxlength="16" [ngClass]="{ 'is-invalid':  (
                       (setPasswordForm.confirmPassword !== setPasswordForm.password) && confirmPassword.dirty && confirmPassword.touched && (!!setPasswordForm.password && !!setPasswordForm.confirmPassword )) ||
                       (setPasswordForm.confirmPassword == '' || !setPasswordForm.confirmPassword) && (confirmPassword.dirty || confirmPassword.touched)}"
                       name="confirmPassword" placeholder="Confirm Password" required type="password">
                </app-show-hide-password>
                <div class="invalid-feedback" [style]="{ 'display':((setPasswordForm.confirmPassword !== setPasswordForm.password) && confirmPassword.dirty && confirmPassword.touched && (!!setPasswordForm.password && !!setPasswordForm.confirmPassword )) ? 'block':'none' }"
                     *ngIf="(setPasswordForm.confirmPassword !== setPasswordForm.password) && confirmPassword.dirty && confirmPassword.touched && (!!setPasswordForm.password && !!setPasswordForm.confirmPassword )">
                  <span>Confirm password is not match with New password.</span>
                </div>
                <div class="invalid-feedback" [style]="{ 'display':((setPasswordForm.confirmPassword  == '' || !setPasswordForm.confirmPassword) && (confirmPassword.dirty || confirmPassword.touched)) ? 'block':'none' }"
                     *ngIf="(setPasswordForm.confirmPassword == '' || !setPasswordForm.confirmPassword) && (confirmPassword.dirty || confirmPassword.touched)">
                  <span>Please Enter Confirm Password!</span>
                </div>
              </div>
              </div>
              <div>
                <button [disabled]="(setPasswordForm.confirmPassword !== setPasswordForm.password) || !setPasswordForm.confirmPassword || !setPasswordForm.password || loaderInit || !strongPassword"
                        (click)="onResetPassword($event)" class="btn btn-primary me-2 mb-2 mb-md-0" type="submit">
                  <span>Reset Password </span>
                  <span *ngIf="loaderInit" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

                </button>
                <!-- <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather text-primary icon-twitter btn-icon-prepend"></i>
                  Login with twitter
                </button> -->
              </div>
<!--              <ng-container *ngTemplateOutlet="passwordSetRules"></ng-container>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
