<ng-template #passwordSetRules>
  <div class="custom-tooltip-class" style="text-align: left;">
    <p>Your Password must contain :</p>
    <ol type="1">
      <li>At least 6 characters (Max 16)</li>
      <li>At least 1 uppercase letter</li>
      <li>At least 1 lowercase letter</li>
      <li>At least 1 number</li>
      <li>At least 1 special characters (! @ # $ % ^ & *)</li>
    </ol>
  </div>

</ng-template>
<div class="row mx-0">
  <div class="col-xl-6">
    <div class="card">
      <div class="row">
        <div class="col-md-12 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <!--            <a routerLink="." class="nobleui-logo d-block mb-2"><img src="/pa/assets/images/Payments.png" width="15%" ></a>-->
            <!--            <a routerLink="." class="nobleui-logo d-block mb-2"><img src="/pa/assets/images/Payments.png" width="15%" ></a>-->
            <h5 *ngIf="!isChangePassword" class="text-muted fw-normal mb-4">Change Password</h5>
            <!--            <form class="forms-sample">-->
            <!-- <a *ngIf="!isLoggedIn" class="nobleui-logo d-block mb-2" routerLink=".">Back to HomePage</a> -->
            <span *ngIf="isChangePassword" class="nobleui-logo d-block mb-2">Password change successfully</span>

            <form *ngIf="!isChangePassword" name="changePasswordForm" novalidate>
              <div class="form-group">
                <div class="mb-3">
                  <label class="form-label" for="currentPassword">Current Password</label>
                  <app-show-hide-password>
                  <input appBlockCopyPaste maxlength="16" #currentpassword="ngModel" inputRef [(ngModel)]="changePasswordForm.currentPassword" class="form-control" id="currentPassword"
                         [ngClass]="{ 'is-invalid':  (changePasswordForm.currentPassword == '' || !changePasswordForm.currentPassword) && (currentpassword.dirty || currentpassword.touched)}"
                         name="currentPassword" placeholder="Current Password" required type="password">
                  </app-show-hide-password>
                  <div class="invalid-feedback" [style]="{ 'display':((changePasswordForm.currentPassword  == '' || !changePasswordForm.currentPassword) && (currentpassword.dirty || currentpassword.touched)) ? 'block':'none' }"
                       *ngIf="(changePasswordForm.currentPassword == '' || !changePasswordForm.currentPassword) && (currentpassword.dirty || currentpassword.touched)">
                    <span>Please Enter Current Password</span>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <div class="mb-3">
                  <label class="form-label" for="newPassword">New Password</label>&nbsp;<i class="mdi mdi-information-variant" style="background-color: mediumblue; color: white; border-radius: 50%" [ngbTooltip]="passwordSetRules" tooltipClass="custom-tooltip-class"></i>
                  <app-show-hide-password>
                  <input appBlockCopyPaste #newpassword="ngModel" inputRef [(ngModel)]="changePasswordForm.newPassword" class="form-control" id="newPassword"
                         [ngClass]="{ 'is-invalid':  (changePasswordForm.newPassword == '' || !changePasswordForm.newPassword || (changePasswordForm.newPassword == changePasswordForm.currentPassword )) && (newpassword.dirty || newpassword.touched)}"
                      maxlength="16" name="password" placeholder="New Password" required type="password">
                  </app-show-hide-password>
                  <app-password-strength [passwordToCheck]="changePasswordForm.newPassword" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
                  <div class="invalid-feedback" [style]="{ 'display':((changePasswordForm.newPassword  == '' || !changePasswordForm.newPassword) && (newpassword.dirty || newpassword.touched)) ? 'block':'none' }"
                       *ngIf="(changePasswordForm.newPassword == '' || !changePasswordForm.newPassword) && (newpassword.dirty || newpassword.touched)">
                    <span>Please Enter New Password</span>
                  </div>
                  <div class="invalid-feedback" [style]="{ 'display':((changePasswordForm.newPassword == changePasswordForm.currentPassword ) && (newpassword.dirty || newpassword.touched)) ? 'block':'none' }"
                       *ngIf="(changePasswordForm.newPassword == changePasswordForm.currentPassword ) && !!changePasswordForm.newPassword && !!changePasswordForm.currentPassword && (newpassword.dirty || newpassword.touched)">
                    <span>New Password should not be identical to current password</span>
                  </div>
<!--                  <div class="invalid-feedback" [style]="{ 'display':(changePasswordForm.newPassword && !strongPassword && (newpassword.dirty || newpassword.touched)) ? 'block':'none' }"-->
<!--                       *ngIf="changePasswordForm.newPassword && !strongPassword && (newpassword.dirty || newpassword.touched)">-->
<!--                    <span>Please enter strong New Password</span>-->
<!--                  </div>-->
                </div>

              </div>
              <div class="form-group">
                <div class="mb-3">
                  <label class="form-label" for="confirmPassword">Confirm Password</label>
                  <app-show-hide-password>
                  <input #confirmPassword="ngModel" maxlength="16" inputRef [(ngModel)]="changePasswordForm.confirmPassword" class="form-control" id="confirmPassword"
                  appBlockCopyPaste   [ngClass]="{ 'is-invalid':  (
                         (changePasswordForm.confirmPassword !== changePasswordForm.newPassword) && confirmPassword.dirty && confirmPassword.touched && (!!changePasswordForm.newPassword && !!changePasswordForm.confirmPassword )) ||
                       (changePasswordForm.confirmPassword == '' || !changePasswordForm.confirmPassword) && (confirmPassword.dirty || confirmPassword.touched)
                       }"
                         name="confirmPassword" placeholder="Confirm Password" required type="password">
                  </app-show-hide-password>
                  <div class="invalid-feedback" [style]="{ 'display':((changePasswordForm.confirmPassword !== changePasswordForm.newPassword) && confirmPassword.dirty && confirmPassword.touched) ? 'block':'none' }"
                       *ngIf="(changePasswordForm.confirmPassword !== changePasswordForm.newPassword) && confirmPassword.dirty && confirmPassword.touched && (!!changePasswordForm.newPassword && !!changePasswordForm.confirmPassword )">
                    <span>Confirm password does not match with New password.</span>
                  </div>
                  <div class="invalid-feedback" [style]="{ 'display':((changePasswordForm.confirmPassword  == '' || !changePasswordForm.confirmPassword) && (confirmPassword.dirty || confirmPassword.touched)) ? 'block':'none' }"
                       *ngIf="(changePasswordForm.confirmPassword == '' || !changePasswordForm.confirmPassword) && (confirmPassword.dirty || confirmPassword.touched)">
                    <span>Please Enter Confirm Password</span>
                  </div>
                </div>
              </div>
              <div>
                <button [disabled]="(changePasswordForm.confirmPassword !== changePasswordForm.newPassword) || !changePasswordForm.confirmPassword || !changePasswordForm.newPassword || !changePasswordForm.currentPassword || loaderInit || !strongPassword || (changePasswordForm.newPassword == changePasswordForm.currentPassword )"
                        (click)="changePassword($event)" class="btn btn-primary me-2 mb-2 mb-md-0" type="submit">
                  Reset Password
                  <span *ngIf="loaderInit" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
                <!-- <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather text-primary icon-twitter btn-icon-prepend"></i>
                  Login with twitter
                </button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
