// img {
//     opacity: 0.8;
//   }

  img:hover {
    opacity: 0.8;
  }

  nav {
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    padding: 0px 0px;
    background: #fff;
    // border-radius: 5px;
    /* background: #fff; */
    border-top: #6571ff 5px solid;
    // border-left: #6571ff 6px solid;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  
  }
// .sidebar-body {
//     background-image: url("../../../../assets/images/texture.png");
// }