.btn-danger {
  background-color: #ff0000 !important;
}

.btn-primary {
  background-color: #8f00ff !important;
}

.btn-warning {
  background-color: #fea501 !important;
}

.btn-success {
  background-color: #008000 !important;
}
